<div class="header">
  <h2>SpaceX Mission Launch List</h2>
  <!-- <app-missionfilter></app-missionfilter>   -->
</div>
<app-missiondetails [selectedMission]="selectedMission"></app-missiondetails>
<div class="container">
  
  <div class="card" *ngFor="let mission of missions">
    <img
      [src]="mission.links.mission_patch_small"
      alt="Mission Patch"
      class="mission__patch"
    />
    <div class="card-body">
      <h3>{{ mission?.mission_name }}</h3>
      <h4>{{ mission?.launch_year }}</h4>
      <p>{{ mission?.details }}</p>
      <button
        [class.selected]="mission === selectedMission"
        type="button"
        (click)="onSelect(mission)"
      >More Info</button>
    </div>
  </div>
</div>

<app-missiondetails [selectedMission]="selectedMission"></app-missiondetails>